* {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    align-items: center;
    height: 100vh;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}